html,
body {
  background: #222;
  color: #e2e2e2;
  text-align: center;
  padding: 10px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #e2e2e2;
}

.theme-item {
  width: 300px;
  height: 520px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background: #484848;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.theme-item img {
  max-width: 100%;
  margin: 10px auto;
}
.theme-item h3 {
  font-size: 18px;
}
.theme-item h4 {
  font-size: 16px;
}
.theme-item a {
  margin: 10px auto;
  color: dodgerblue;
  display: block;
}
.theme-item button {
  margin: 10px auto;
}
