html,
body {
  background: #222;
  color: #e2e2e2;
  text-align: center;
  padding: 10px 0;
  font-family: Roboto, sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #e2e2e2;
}

.theme-item {
  width: 300px;
  height: 520px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background: #484848;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.theme-item img {
  max-width: 100%;
  margin: 10px auto;
}
.theme-item h3 {
  font-size: 18px;
}
.theme-item h4 {
  font-size: 16px;
}
.theme-item a {
  margin: 10px auto;
  color: dodgerblue;
  display: block;
}

.btn {
  margin: 10px auto;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: #ffecec;
  border: none;
  background: #cc1b1b;
}
.btn-enabled {
  background: rgb(45, 201, 82);
  color: #f2fff5;
}

.btn-get-css {
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  box-shadow: 0px 0px 4px #484848;
  background: #ffca3c;
  color: #80610b;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}
